/* Header */
.header {
    height: var(--header-height);
    background-color: var(--white-color);
    padding: 0 96px;
}

.header__navbar {
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
}

.header__logo {
    margin-top: 4px;
    padding-right: 32px;
}

.header__navbar-list {
    list-style: none;
    display: flex;
    width: 924px;
}

.header__navbar-item {
    margin-right: 28px;
    margin-top: 4px;
}

.header__navbar-item-link {
    text-decoration: none;
    color: var(--text-color-header);
    font-size: 1.7rem;
}

.header__navbar-item-link:hover {
    color: #222222;
}

.header__search {
    margin-top: 4px;
    width: 305px;
}

.header__search-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    float: right;
}

.header__search-btn-icon {
    font-size: 1.8rem;
}

/* Banner */
.banner {
    position: relative;
    height: 100vh;
    min-width: 640px;
    padding-top: 34%;
    background: url('/assets/images/Banner.avif') center / cover no-repeat;
    overflow: hidden;
}

.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* độ cao vùng tối */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    pointer-events: none; /* không cản trở thao tác chuột */
    z-index: 1;
}

.banner__img {
    height: 100%;
}

.banner__tittle,
.banner__content,
.banner__list {
    position: relative;
    z-index: 2;
}

.banner__tittle {
    color: var(--white-color);
    margin-left: 96px;
    margin-bottom: 12px;
    padding: 20px 0;
    font-size: 4.4rem;
    letter-spacing: 1.6px;
    font-weight: 400;
}

.banner__content {
    color: var(--white-color);
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-left: 96px;
}

.banner__list {
    margin-top: 24px;
    margin-left: 96px;
    display: flex;
}

.banner__item {
    list-style: none;
    padding-right: 8px;
}

.banner__item-btn-white {
    padding: 18px 36px;
    border: none;
    background-color: var(--white-color);
}

.banner__item-btn-black {
    padding: 17px 0;
    border: 1px solid white;
    background-color: transparent;
}

.banner__item-link-white,
.banner__item-link-black {
    font-size: 1.6rem;
    text-decoration: none;
}

.banner__item-link-white {
    color: var(--black-color);
}

.banner__item-link-black {
    color: var(--white-color);
    padding: 17px 36px;
}

.banner__item-btn-white:hover {
    background-color: #bdbdbd;
    transition: all 0.35s ease;
}

.banner__item-btn-black:hover,
.banner__item-link-black:hover {
    border-color: #bdbdbd;
    color: #bdbdbd;
    transition: all 0.35s ease;
}

/* Content */
.content__filter-section {
    margin: 80px 0;
}

.content__list-filter {
    display: flex;
    margin: 0 96px 30px;
}

.content__item {
    list-style: none;
    padding-right: 8px;
}

.content__item-btn {
    color: var(--text-color-content);
    padding: 8px 12px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.content__item-icon {
    width: 24px;
    opacity: 0.8;
}

.content__item-btn--no-tick {
    background-color: var(--white-color);
    border: 1px solid #d2d2d2;
}   

.content__item-btn--no-tick:hover {
    border: 1px solid #8b8b8b;
}

.content__list-car {
    display: flex;
    list-style: none;
    margin: 0 52px;
}

.content__item-icon-arrow {
    font-size: 1.4rem;
    align-content: center;
    padding: 0 16px;
    cursor: pointer;
}

.content__item-icon-arrow:hover {
    color: var(--text-color-header);
}

.content__item-cover-car {
    padding: 16px;
    width: 220px;
    height: 195px;
    cursor: pointer;
}

.content__item-label-car {
    font-size: 1.9rem;
    letter-spacing: 0.5px;
    color: var(--text-color-content);
}

.content__item-img {
    width: 188px;
    height: 105px;
    padding: 8px 0 16px;
    transition: transform 0.4s ease;
}

.content__item-img:hover {
    transform: scale(1.1);
}

.content__item-content-car {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    color: var(--text-color-header);
}

.productNew__container {
    margin: 0 96px ;
}

.productNew__list {
    list-style: none;
}

.productNew__item {
    display: flex;
    padding: 32px 0 56px;
    align-items: center;
}

.productNew__img {
    width: 50%;
    flex: 1;
}

.productNew__item-content {
    flex: 1;
    padding: 0 56px;
    height: 300px;
    align-content: center;
    position: relative;
}

.productNew__item-content-label {
    position: absolute;
    font-size: 3.5rem;
    font-weight: 400;
    top: 4%;
    color: var(--text-color-content);
}

.productNew__item-content p {
    margin-top: 16px;
    font-size: 1.8rem;
    color: var(--text-color-header);
}

.productNew__item-btn-black,
.productNew__item-btn-white {
    margin-top: 32px;
    cursor: pointer;
    border-radius: 0;
}

.productNew__item-btn-black {
    background-color: var(--black-color);
    border: 1px solid black;
    padding: 16px 32px;
}

.productNew__item-btn-black:hover {
    background-color: #525252;
    border: 1px solid #525252;
    transition: all 0.35s ease;
}

.productNew__item-btn-white {
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0.2px 0.2px inset;
    padding: 16px 0px;
}

.productNew__item-link-white:hover,
.productNew__item-btn-white:hover {
    border-color: #8b8b8b;
    color: #8b8b8b;
    transition: all 0.35s ease;
}

.productNew__item-link-black,
.productNew__item-link-white {
    text-decoration: none;
    font-size: 1.6rem;
}

.productNew__item-link-black {
    color: var(--white-color);
}

.productNew__item-link-white {
    color: var(--black-color);
    padding: 18px 32px;
}

.service__space {
    height: 56px;
}

.service__container {
    margin: 0 96px;
}

.service__list {
    padding: 32px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.service__item {
    padding: 0 4px;
}

.service__item:first-child {
    padding-left: 0;
}

.service__item:last-child {
    padding-right: 0;
}

.service__item-img {
    width: 100%;
    display: block;
}

.service__item-content-child {
    padding: 16px 32px 24px 0;
    top: 0;
}

.service__item-tittle {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--black-color);
}

.service__item-nav-link {
    padding: 24px 0;
}

.service__item-link {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--text-color-content);
    
}

.service__item-link:hover {
    color: #898989;
    transition: all ease 0.4s;
}

.service__item-link span {
    border-bottom: 0.5px solid var(--text-color-content) ;
    margin-right: 8px;
}

.service__item-icon {
    font-size: 1.4rem;
}